body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Helvetica', Arial, sans-serif;
	font-size: 18px;
}

body{
	background-color:#404040;
}
p, form{
	padding: 1em;
	color: aliceblue;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 1em;
    color: indianred;
	text-align: center;
}

/* For lables */
form.HomeworkForm{
  font-size: 18px;
}
form.HomeworkForm input[type=text],form.HomeworkForm  input[type=password],form.HomeworkForm   input[type=submit], form.HomeworkForm p{
  line-height: 1.3;
  font-size: 20px;
  
  box-sizing: border-box;

}

input[type=text]:focus, input[type=password]:focus {
  background-color: lightblue;
}
input[type=submit], form.HomeworkForm a{ 
  cursor: pointer;
  background-color: #45a049;
  float:inline-start;
}
.homework{
  background-color: #34e7e4;
}
/*
*/
form th {
  margin: 0;
  padding: 0.6em;
  list-style-type: none;
    
}

form td {
  margin: .5em 0;
  padding: 0.5em 0;
  border-bottom: 1px dotted black;
}

form td:last-child {
  border-bottom: none;
}

/* 
  same of them my old codes
  and some of them I wrote for this homework 
  to make it better :3 
 */
body {
    margin: 0;
    color: #f9f9f9;
    background-color: #3c3c3c;
    font-family: Helvetica, sans-serif;
  }
  
  *{
     
    -webkit-box-sizing: border-box ;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    /*csslint box-sizing: false*/
  }
  
  .justifyMiddle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }

  .middleSide{
    align-items: center;
    display: flex;
    justify-content: center;

  }
  input .middleSide{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .codeSide{
    justify-content: center;
    padding: 1em;
  }

  .page-title {
    text-align: center;
    background-image: url(https://2017.europe.wordcamp.org/files/2017/01/background-pattern-01.png);
    background-color: #f5ebe0;
    font-size: 36px;
    line-height: 1.5;
    color: #404040;
  }

  .contentTitle{
    margin: 0;
    padding: 0;
    line-height: 1.3em;
  }

  .contentMyText{
    margin: .5em 0;
    padding: 0;
    text-align: justify;
  }

  @supports not (display: grid)
    {
        .content-head,
        .codeSide{
            max-width: 50em;
            margin: 0 auto;
        }
    }

  @supports (display: grid){
    @media screen and (min-width: 800px) {
      .site {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto ;
        grid-template-areas:
          "content-head content-head"
          "codeSide codeSide";
      }
    }

    .page-title {
      grid-area: content-head;
  }


    .codeSide {
        grid-area: codeSide;
    }

    @media screen and (min-width: 1200px){
        .site {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
              "content-head content-head content-head"
                "codeSide codeSide codeSide";
        }
    }
        
    
}